src/main/mule/implementations/get-purchase-order-by-id.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="get:\purchase-orders\(orderNo):anhndt17-config" doc:id="f46bd63d-f147-4b75-9967-143980100b7b" >
		<http:request method="GET" doc:name="Request" doc:id="206596ab-cb6e-47dd-a48a-fb4e9506efaa" config-ref="HTTP_Request_configuration" path="/purchase-orders">
			<http:uri-params ><![CDATA[#[{
	orderNo : attributes.uriParams.orderNo
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
