src/main/mule/implementations/sales-orders.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="post:\sales-orders:application\json:anhndt17-config">
		<logger level="INFO" doc:name="Logger" doc:id="0f5f2b8f-e671-4d50-b2c7-319bddfa7885" message="#[payload]"/>
		<http:request method="POST" doc:name="Request RESTful Web Services Sales Orders" doc:id="b8081c10-0d0a-4d32-9294-7bd3b1b8ef0c" config-ref="HTTP_Request_configuration" path="/sales-orders"/>
		<ee:transform doc:name="Transform Message" doc:id="e0b943f4-6e85-4de2-a07f-4d84db72b21c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status": payload.status,
	"message": payload.message,
	"orderNo": payload.data.order.orderNo,
	"title": payload.data.order.title,
	"description": payload.data.order.description,
	"totalPriceSales": payload.data.details reduce ((item, acc = 0) -> acc + item.salesPrice)
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO"
			message="post:\sales-orders:application\json:anhndt17-config" />
	</flow>
</mule>
